.notes-div{
    margin-top: 20px;
    background: #efefef;
    min-height: 270px;    
    padding: 15px 20px;
    text-align: center;
    font-size: 12px !important;
}

.notes-div h4{
  word-wrap: break-word;
}

.intro{
  min-height: 100px;
  margin-top: 10px;
  padding: 10px 0px;
  text-align: left; 
  font-weight: 400;
  font-family: lato;
  font-size: 12px;
}

.note-desc{
  display: none;
}

.add-btn{
  border: none;
  border-radius: 50%;
  font-family: lato;
  font-size: 28px;
  padding: 5px 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  box-shadow: -1px 2px 12px 0px #848484;
  background: #1976d2;
  color: #ffffff;
}